{% include "dashboard_base.html" %}
  <div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Appointments</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addAppointmentModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Appointment</span></a>
						<a href="#deleteAppointmentModal-{{forloop.counter}}" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th> Patient Name</th>
						<th>Doctor Name</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for i in appointment_list %}
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>{{i.patient_name}}</td>
						<td>{{i.doctor_name}}</td>
						<td>{{i.date_time}}</td>
						<td>
							<a href="#editAppointmentModal-{{forloop.counter}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="#deleteAppointmentModal-{{forloop.counter}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
				{% endfor %}

				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item active"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Add Modal HTML -->
<div id="addAppointmentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'add_appointment' %}" method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h4 class="modal-title">Add Appointment</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>

				<div class="modal-body">
					<label>Patient Name</label>
					  <select class="browser-default">
						<option value="" disabled selected>Choose your option</option>
						  {% for i in patient_list %}
						<option value="1">{{i.name}}</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
						  {% endfor %}
					  </select>
				</div>

				<div class="modal-body">
					<label>Doctor Name</label>
					  <select class="browser-default">
						<option value="" disabled selected>Choose your option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					  </select>
				</div>

				<div class="modal-body">
					<label>Date</label>
					<input name="date_time" type="datetime-local" class="form-control" required>
				</div>

				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Create Appointment">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
{% for i in appointment_list %}
<div id="editAppointmentModal-{{forloop.counter}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/update_appointment/{{i.id}}" method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h4 class="modal-title">Edit Patient</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Patient Name</label>
						<input name="patient_name" value="{{i.patient_name}}" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Doctor Name</label>
						<input name="doctor_name" value="{{i.doctor_name}}" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Date</label>
						<input name="date_time" value="{{i.date_time}}" type="datetime-local" class="form-control" required>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" value="Update">
				</div>
			</form>
		</div>
	</div>
</div>
{% endfor %}
<!-- Delete Modal HTML -->
{% for i in appointment_list %}
<div id="deleteAppointmentModal-{{forloop.counter}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/delete_appointment/{{i.id}}" method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h4 class="modal-title">Delete Appointment</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete {{i.patient_name}} Appointment?</p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete Appointment">
				</div>
			</form>
		</div>
	</div>
</div>
{% endfor %}
  </div>
  </div>
</div>
</body>